.Troubles {
    box-sizing: border-box;
}

.inbox::after {
    content: '';
    visibility: hidden;
    display: block;
    clear: both;
}

.inbox {
    width: 70%;
    padding-top: 52px;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #fff;
}

.floatBtnBox {
    position: fixed;
    bottom: 30px;
    right: 60px;
    z-index: 100;
}

/* .Troubles aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: rgb(52, 47, 75);
    
} */