.Modal {
    position: fixed;
    z-index: 200;
    background-color: #fff;
    width: 50%;
    box-shadow: 0 4px 4px rgba(0,0,0,.08), 0 2px 2px rgba(0,0,0,.04);
    padding: 32px;
    left: 25%;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    transition: all .3s ease-out;
}