.Input {
    margin-bottom: 32px;
}

.Input label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    text-transform: capitalize;
}

.inputTag {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #484848;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.inputTag:focus {
    color: #484848;
    background-color: #fff;
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25);
}