.footer {
    position: absolute;
    width: 80%;
    height: 100px;
    padding: 16px 0;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    bottom: 0;
    left: 10%;
    
}

.footer div {
    padding: 0 10px;
    margin-right: 10px;
    height: 22px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 12px;
    line-height: 22px;
    cursor: pointer;
    transition: all .1s linear;
}

.footer div:hover {
    background-color: rgba(236, 229, 247, 0.404);
}

.footer div:last-child {
    float: right;
    border: none;
    margin: 0;
    background-color: #fff;
}

.footer div img {
    height: 14px;
    margin-right: 6px;
}

.footer div i {
    font-size: 14px;
    margin-right: 6px;
}

div.btnActive {
    color: #6a45e4;
    font-weight: 900;
}