.SignIn {
    background-image: linear-gradient(to right, rgb(214, 190, 236), rgb(188, 180, 238),rgb(159, 193, 236));
}

.inbox {
    position: relative;
    margin: 52px auto 0;
    width: 70%;
    height: 100vh;
    box-sizing: border-box;
}

.signBox h2 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin: 28px 0 32px;
}

.signBox {
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 70vh;
    padding: 54px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 8px 10px rgba(0, 0, 0, 0.16);
}

.btnBox {
    display: flex;
    justify-content: center;
    padding-top: 54px;
}